@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); /* Use 'truetype' for .ttf files */
    }
  
    @font-face {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('./fonts/Outfit/outfit.ttf') format('truetype'); 
    }
  }
  

html {
  font-family: 'Outfit', sans-serif;
}

main{
    /* scale:0; */
    animation: mainAnimation 1s ease-in-out ;
}

@keyframes mainAnimation {
    0%{
        scale: 0;
    }
    100%{
        scale:1;
    }
}
input{
    padding: 10px;
    color:#fff;
    background-color: inherit;
    outline: none;
    transition: all 0.3s;
    border-bottom: 1px solid #040046;
   
}

button{
    transition: all 0.5;
}
input:focus{
    border-bottom: 2px solid #040046;

}


.radio-btn {
    width: 20px; 
    height: 20px; 
    cursor: pointer;
}

/* Hide the number input spinners in Chrome, Safari, and Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}